*{
    margin: 0;
    padding: 0;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/background.jpg'); /* Đường dẫn tương đối đến hình ảnh nền */
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(7px);
}

#container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left, #right{
    width: 25%;
    text-align: center;
}
#left p{
    font-family: "Corinthia", cursive;
    font-optical-sizing: auto;
    font-size: 140px;
    font-style: normal;
    font-style: italic;
    color: #FFFFFF;
}
#content{
    height: 500px;
    width: 50%;
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#content h1{
    font-family: 'Brush Script MT', cursive;
}
#count-time{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.units{
    display: flex;
    width: 25%;
    position: relative;
    justify-content: center;
    
}
.time-display{
    font-family: "Pacifico", cursive;
    font-size: 70px;
    font-style: italic;
}
.unit{
    font-family: "Pacifico", cursive;
    font-size: 22px;
    position: absolute;
    font-style: italic;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 25px;
}
@media only screen and (max-width: 500px) {
    .background-image{
        background-image: url('../image/background-xs.webp');
        
    }
}